{% extends 'base.html.twig' %}


{% block body %}
<ul style="margin-left: 90px">
    {% for task in tasks %}
        <li>
            <div>
                <a href="{{ path('app_task_view', { id: task.id }) }}">{{ task.name }}</a>
                <br> <a href="{{ path('app_task_update', { id: task.id }) }}" class="btn btn-primary">Обновить</a>
                <a href="{{ path('app_task_delete',{id: task.id})}}" class="btn btn-primary">Удалить</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}